.jumbotron {
    background-color: lightgreen;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer{
    padding: 10px 10px 10px;
    background-color: lightgreen;
    margin-bottom: 0px;
    margin-top: 10px;
}

header{
    width: 100%;
    height: 100%;
    background: url('header.jpg');
    background-size: cover;
}

.card-hotel{
    flex: l 200px;
    padding: 2px 2px 2px 2px;
    margin-top: 10px;
}

.card{
    margin-left: 2px;
    margin-right: 2px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;

}

.breadcrumb{
    margin-bottom: 5px;
}

.footer-icon{
    padding-right: 10px;
}

.button-icon{
    padding-right: 5px;
}

.tab-content{
    padding-top: 10px;
}